# Python caches and compiled files
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Virtual environment directories
.Python
.venv/

# IDE directories
.vscode/

# Build and distribution directories
dist/*
*.egg-info/

# Others
tests/